/* .container {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}

.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
}

.tabla-usuarios th, .tabla-usuarios td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.tabla-usuarios th {
  background-color: #f4f4f4;
}
 */